## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [10]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1 = random.sample(range(101), k = 80)
print (sample_list_1)

[61, 57, 12, 22, 72, 16, 44, 100, 39, 88, 34, 73, 51, 96, 33, 63, 50, 75, 2, 32, 42, 59, 58, 82, 26, 67, 38, 98, 23, 76, 49, 31, 7, 99, 65, 86, 66, 54, 8, 5, 43, 17, 1, 85, 60, 30, 93, 78, 40, 46, 95, 92, 83, 3, 9, 6, 21, 70, 87, 4, 28, 37, 62, 53, 19, 45, 77, 91, 84, 64, 11, 90, 55, 25, 0, 35, 56, 29, 48, 94]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

"""Yes the lenght is still 80."""

80

'Yes the lenght is still 80.'

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [13]:
# Your code here
sample_list_2 = random.sample(range(101), k = 80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [19]:
set3test = set1 - set2 
print(set3test)

{96, 4, 6, 39, 8, 40, 11, 78, 17, 53, 86, 25, 59, 93, 31}

In [18]:
# Your code here
lis3 = [numb for numb in set1 if numb not in set2]
set3 = set(lis3)
print(set3)

{96, 4, 6, 39, 8, 40, 11, 78, 17, 53, 86, 25, 59, 93, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [77]:
# Your code here
lis4 = [numb for numb in set2 if numb not in set1 ]
set4 = set(lis4)
print (set4)

{96, 33, 98, 36, 37, 39, 9, 75, 77, 16, 24, 89, 56}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
set_shared = set1 & set2
print(set_shared)

{0, 1, 2, 3, 5, 7, 9, 12, 16, 19, 21, 22, 23, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 48, 49, 50, 51, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 70, 72, 73, 75, 76, 77, 82, 83, 84, 85, 87, 88, 90, 91, 92, 94, 95, 98, 99, 100}

In [21]:
# Your code here
lis5 = [numb for numb in set2 if numb in set1 ]
set5 = set(lis5)
print(set5)

{0, 1, 2, 3, 5, 7, 9, 12, 16, 19, 21, 22, 23, 26, 28, 29, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 46, 48, 49, 50, 51, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 70, 72, 73, 75, 76, 77, 82, 83, 84, 85, 87, 88, 90, 91, 92, 94, 95, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [79]:
# Your code here
print(len(set1) == len(set2))
print(len(set2)>len(set3) and len(set2)>len(set4)) #the same for the change of set2 for set1
print(len(set4)+len(set5)== len(set1))

True
True
True

#### Create an empty set called `set6`.

In [80]:
# Your code here
set6 =set()
print (set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [81]:
# Your code here
set6.update(set3.union(set5))
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 76, 78, 79, 80, 81, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [82]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [83]:
# Your code here
z = set2.issubset(set1) # or z = set1.issuperset(set2)
print(z)

y = set3.issubset(set1) #y = set1.issuperset(set3)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [84]:
# Your code here
y = set3.union(set4,set5)
z = set1.union(set2)

print(y == z)

True

#### Using the `pop` method, remove the first element from `set1`.

In [86]:
# Your code here
list1 = list(set1)

list1.pop(0)
set1_poped = set(list1)
print(set1_poped)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 76, 78, 79, 80, 81, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [88]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)
print(set1 - set_to_remove)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 20, 22, 23, 25, 26, 27, 28, 30, 32, 34, 35, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 58, 62, 63, 64, 65, 66, 68, 70, 72, 73, 76, 78, 80, 83, 85, 86, 87, 88, 90, 92, 93, 94, 97, 100}